# Plantilla de Variables de Entorno para Producción (api.muebleslottus.com)

# Entorno y Claves de Seguridad
DJANGO_DEBUG=False
DJANGO_SECRET_KEY=cambia_esta_clave_por_una_cadena_secreta_y_aleatoria_lottus_2026

# Host Autorizados (separados por coma)
ALLOWED_HOSTS=api.muebleslottus.com,app.muebleslottus.com,127.0.0.1,localhost

# Base de Datos MySQL
DB_NAME=u756180748_lottus
DB_USER=u756180748_lottus
DB_PASSWORD=Lottus123
DB_HOST=195.35.61.108
DB_PORT=3306
